[mysqld]
#basic settings#
bind-address = 0.0.0.0
max_allowed_packet = 16777216
default-storage-engine = innodb
collation-server = utf8_general_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8
datadir=/home/mysql
socket=/var/lib/mysql/mysql.sock

#connection#
max-connection = 20000
interactive_timeout=1800
net_write_timeout = 1800
wait_timeout=1800

# table cache performance settings
#table_open_cache_instances = 16
#table_open_cache = 512

# session memory settings #
thread_cache_size = 64
read_buffer_size = 32M
sort_buffer_size = 32M
tmp_table_size = 128M
read_rnd_buffer_size = 64M


# log settings #
log_error = /var/log/mariadb/mariadb.log
#slow_query_log_file = /var/log/mysql/mysql-slow.log
#slow_query_log = 1
#long_query_time = 1

# innodb settings #
innodb_buffer_pool_size = 1G  #######70%-80% of memory
innodb_buffer_pool_instances = 4 ###MySQL 5.5, set  to 4, MySQL 5.6 8 even 16.
innodb_flush_method = O_DIRECT
innodb_additional_mem_pool_size = 128M
innodb_log_buffer_size = 32M
innodb_file_per_table = 1
innodb_io_capacity = 200
innodb_flush_log_at_trx_commit = 2
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_log_file_size = 64M
innodb_log_files_in_group = 3
innodb_lock_wait_timeout = 120
innodb_open_files=4096


# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

query_cache_size = 128M
query_cache_limit = 2M

[mysqldump]
quick
max_allowed_packet = 128M
#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

